<div class="well">
	<h4>The Universe is the totality of everything that exists, has existed, or ever will exist.</h4>
	<p>This Q&amp;A site is dedicated to questions about the history of the Universe</p>
</div>


<div class="row">
	<div class="col-sm-8 col-sm-offset-2">

		<div>
			<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#new-answer-modal">Submit new answers</a>
		</div>

		<%= render 'home/new_answer_form' %>
		

		<div class="container">
			<div class="lead well">
				<%= @answers.each do |answer| %>
					<div class="media">
						<div class="media-body">
							<h4 class="media-heading"><%= answer.email %>asked:</h4>
							<%= answer.body %>
						</div>
					</div>
			    <% end %>	 	
			</div>	
		</div>
			

		
	</div>	
</div>	

