<h2>Welcome to the History of Universe Blog</h2>

<div class="well">
	<h4>The Universe is the totality of everything that exists, has existed, or ever will exist.</h4>
	<p>This Q&amp;A site is dedicated to questions about the history of the Universe</p>
</div>

<div class="container">
	<div class="lead well">
		<div class="media">
			<div class="media-body">
				<h4 class="media-heading">user@gmail.com asked:</h4>How can there be anything left in the universe? Don't black holes suck everything in?
				<div>
					<a href="/questions/1" class="btn btn-success btn-xs">View Answers</a>
				</div>	
			</div>
		</div>
	</div>	
</div>	

<div class="container">
	<div class="lead well">
		<div class="media">
			<div class="media-body">
				<h4 class="media-heading">user@gmail.com asked:</h4>How does the expansion of the universe make outer space a vacuum?
				<div>
					<a href="/questions/2" class="btn btn-success btn-xs">View Answers</a>
				</div>	
			</div>
		</div>
	</div>	
</div>	

<div class="container">
	<div class="lead well">
		<div class="media">
			<div class="media-body">
				<h4 class="media-heading">user@gmail.com asked:</h4>How does Big Bang Created?
				<div>
					<a href="/questions/3" class="btn btn-success btn-xs">View Answers</a>
				</div>	
			</div>
		</div>
	</div>	
</div>	
