<div class="well">
	<h4>The Universe is the totality of everything that exists, has existed, or ever will exist.</h4>
	<p>This Q&amp;A site is dedicated to questions about the history of the Universe</p>
</div>


<div class="row">
	<div class="col-sm-8 col-sm-offset-2">

		<div>
			<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#new-answer-modal">Submit new answers</a>
		</div>

		<%= render 'home/new_answer_form' %>

			<div class="container">
				<div class="lead well">
					<div class="media">
						<div class="media-body">
							<h4 class="media-heading">user@gmail.com answers:</h4>The universe is all of space and time and their contents,including planets, stars, galaxies, and all other forms of matter and energy. 
						</div>
					</div>
				</div>	
			</div>	

			<div class="container">
				<div class="lead well">
					<div class="media">
						<div class="media-body">
							<h4 class="media-heading">user@gmail.com answers:</h4>The Big Bang theory is the prevailing cosmological description of the development of the universe. According to estimation of this theory, space and time emerged together 13.799±0.021 billion years ago,and the universe has been expanding ever since.
						</div>	
					</div>
				</div>	
			</div>	

			<div class="container">
				<div class="lead well">
					<div class="media">
						<div class="media-body">
							<h4 class="media-heading">user@gmail.com answers:</h4>The cosmological description of the development of the universe. According to estimation of this theory, space and time emerged together billion years ago,and the universe has been expanding ever since.
						</div>	
					</div>
				</div>	
			</div>
	    <% end %>
	</div>	
</div>	

